<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描器 -->
    <context:component-scan base-package="com.cj.ssm.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.RestControllerAdvice"/>
    </context:component-scan>

    <!--开启注解-->
    <mvc:annotation-driven/>

    <!--处理静态资源-->
    <mvc:default-servlet-handler/>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置异常处理器-->
    <mvc:view-controller path="/toLoginPage" view-name="login"/>
    <!-- 配置SimpleMappingExceptionResolver异常解析器 -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- 设置解析器的优先级别, 越小越优先 (默认优先级最低) -->
        <property name="order" value="-1024"/>
        <!-- 配置哪些异常对应哪些视图名 (错误页面) -->
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.ArithmeticException">error</prop>
                <prop key="java.lang.NullPointerException">error</prop>
            </props>
        </property>
        <!-- 设置任意异常对应的默认视图名 -->
        <property name="defaultErrorView" value="error"/>
        <!-- 设置要排除的异常 -->
        <!--<property name="excludedExceptions" value="java.lang.ClassNotFoundException"/>-->
        <!-- 设置只解析哪些控制器抛出的异常, 默认是所有控制器 -->
        <!--<property name="mappedHandlerClasses" value="com.controller.MyExceptionHandler"/>-->
        <!-- 设置要存进请求域的异常key, 以便在页面中可以取出异常, 默认是"exception" -->
        <!--<property name="exceptionAttribute" value="ex"/>-->
    </bean>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 配置一个全局拦截器，拦截所有请求 -->
        <bean class="com.cj.ssm.controller.MyFirstInterceptor"/>
        <!-- 配置一个拦截指定路径的拦截器 -->
        <mvc:interceptor>
            <!-- 要拦截的路径, 支持ant风格 -->
            <mvc:mapping path="/test01/**"/>
            <!-- 不拦截的路径 -->
            <mvc:exclude-mapping path=""/>
            <!-- 要使用的拦截器 -->
            <bean class="com.cj.ssm.controller.MySecondInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 配置国际化资源文件 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- 资源文件名 -->
        <property name="basenames">
            <list>
                <value>classpath:error</value>
            </list>
        </property>
        <!-- 资源文件编码格式 -->
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 对资源文件的缓存时间, 单位秒 -->
        <property name="cacheSeconds" value="120"/>
    </bean>

    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置一个请求能上传的总大小-->
        <property name="maxUploadSize" value="#{1024*1024*10}"/>
        <!--设置上传的每个文件的最大大小-->
        <property name="maxUploadSizePerFile" value="#{1024*1024}"/>
        <!--设置上传内容能保留在内存中的最大大小 (字节), 超过这个大小将会被写入临时目录, 默认为10240-->
        <property name="maxInMemorySize" value="10240"/>
        <!--设置存储上传文件的临时目录 ( 默认为servlet容器的临时目录)-->
        <property name="uploadTempDir" value=""/>
        <!--设置解析请求用的编码-->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
</beans>

